backend/node_modules
backend/dist
node_modules
dist
test-results
/playwright-report/
/blob-report/
/playwright/.cache/
gitlabPasswd
**/gitlab.socket
**/gitaly
gitlab/data/gitlab-workhorse/sockets/socket
**/logs
gitlab/data/postgresql
**/redis.socket
